<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/style.css') }}">
    <title>CCTV</title>
</head>
<body>
    <header>
    <h1>실시간 CCTV</h1>
</header>
<nav>
    <li class="kk"><a href="./index.html">실시간 화면보기</a></li>
    <li class="kk"><a href="./recorded.html">녹화된 영상보기</a></li>
    <li class="kk"><a href="./time.html">출입했던 시간 보기</a></li>
</nav>
<section>
    <table>
        <tr>
            <td>안녕하시구요</td>
            <td></td>
        </tr>
    </table>
</section>
<footer>
    쓸말이없네요 copyright@
</footer>
</body>
</html>
